<div class="jumbotron">
    <h1 class="display-3">New York Times Article Scrubber</h1>
    <p class="lead">Search for and annotate articles of interest!</p>
</div>
<div id="app"></div>

<script src="bundle.js"></script>